week2/ResNets/ResNet50.h5
week3/Car\ detection\ for\ Autonomous\ Driving/nb_images/*.mp4
week3/Car\ detection\ for\ Autonomous\ Driving/model_data/yolo.h5
week4/Neural\ Style\ Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
